
<div class='bg-img'>
  <h1 class='bg-img-text'>grow your business</h1>
  <h1 class='bg-img-text'>with classpass</h1>
</div>

<div class='form-wrapper'>

  <!-- STUDIO INFO -->
  <%= form_tag("/calculations", method: "post") do %>
    <h2>Studio Info</h2>
    <div>
      <%= label_tag(:name, "Studio Name") %>
      <%= text_field_tag(:name) %>
    </div>
    <div>
      <%= label_tag(:studio_rep_name, "Your Name") %>
      <%= text_field_tag(:studio_rep_name) %>
    </div>

    <div>
      Activities
      <% @activities.each do |activity| %>
         <input type="checkbox" name="activity_type[]" value='<%= activity.downcase %>'><%= activity %>
      <% end %>
    </div>
    
    <div>
      City
      <select>
        <% @cities.each do |city| %>
          <option value="<%= city.downcase %>"><%= city %></option>
          <% end %>
      </select>
    </div>

  <% end %>


  <!-- IN DEVELOPMENT -->
    <br>
    <div class='development-notes'>
      I'm currently building auto-complete for the studio's name so that records are kept accurate, do you have a list of active studios?
    </div>
    <%= form_tag do %>
      <%=text_field_tag 'cost', '', :autocomplete => autocomplete_rent_cost_calculations_path %>
    <% end %>
    <br>
    <div class='development-notes'>
      Am adding 'other' as an option for drop-downs
    </div>
  <br>
    

  <!-- FIXED COSTS -->
  <%= form_tag("/calculations", method: "post") do %>
    <h2>Fixed Costs</h2>
    <% @fixed_costs.each do |name,data_params| %>
      <div>
        <%= data_params[0] %>
        <select name="fixed_costs[<%= name %>]">
          <% data_params[1].each do |cost_range,avg_value| %>
            <option value=<%= avg_value %>><%= cost_range %></option>
            <% end %>
        </select>
      </div>
    <% end %>
    <%= submit_tag("Calculate Launch Expenses") %>
  <% end %>

  <h3>Total Fixed Costs = <span class='dark-text'><%= @sum if @sum %></span></h3>

  <br>

  <!-- OPERATING COSTS -->
  <%= form_tag("/calculations", method: "post") do %>
    <h2>Operating Costs</h2>

      <% @operating_costs.each do |name,label| %>
        <div>
          <%= label_tag(name,label) %>
          <%= text_field_tag(name) %>
        </div>  
      <% end %>

    
  <% end %>

</div>

<br><br><br>