
<div class='bg-img bg-img-1 '>
  <div class='overlay-content-box dark-bg cp-mission center'>
    <h1>ClassPass wants to help</h1>
    <h1>you grow</h1>
    <p>Thank you for helping us motivate thousands to achieve healthier lifestyles.</p>
    <p class="content-end">We know that we could not do it without our partners so we are excited to now offer a program that we hope will further empower studios<span class='indent'> to support and grow their operations.</span></p>
    <a class="overlay-box-bottom-strip learn-more" href="http://classpass.com">Learn More</a>
  </div>
</div>

<!-- FIXED COSTS -->
<div class='bg-img bg-img-2 '>
  <div class='overlay-content-box light-bg center'>   
    <%= form_tag("/estimate", method: "post", :id => 'fixed-cost-form', :remote => true) do %> 
      <h1 class="form-title">Studio Info</h1>
      <div class="form-element">
        <%= text_field_tag("employee[name]", if @employee ; @employee.name ; end, :placeholder => 'Your Name' , :class => "form-text-input  studio f-elem" ) %>
        <%= text_field_tag("employee[position]", if @employee ; @employee.position ; end , :placeholder => 'Your Position' , :class => "form-text-input  studio f-elem" ) %>
        <%= text_field_tag("studio[name]", if @studio ; @studio.name ; end , :placeholder => 'Studio Name' , :class => "form-text-input  studio f-elem" ) %>
        <select class='city' name="studio[hq_city]">>
          <% @cities.each do |city| %>
            <option value="<%= city.downcase %>"><%= city %></option>
            <% end %>
        </select>
      </div>

      <div>
        <h3>Activity Types</h3>
        <% i = 1 %>
        <% @activities.each do |activity,act_for_db| %>
          <span class="checkbox">
            <input type="checkbox" name="activity_types[<%= act_for_db %>]" id="checkbox<%= i %>Input" value='<%= activity.downcase %>' <%= if @activity_types && @activity_types.include?(activity.downcase) ; 'checked' ; elsif activity == "Other" ; 'checked' ; end %>><%= activity %>
            <label for="checkbox<%= i %>Input"></label>
          </span>
          <span <%= if i%4 == 0 ; "class= top-margin-sm" ; end %>></span>

          <% i+=1 %>
        <% end %>
      </div>
      
      <div class='fc-form'>
        <h2>Fixed Costs</h2>
        <% i = 1 %>
        <% @fixed_costs.each do |name,data_params| %>
          <%= data_params[0] %>
          <select name="fixed_costs[<%= name %>]">
            <% data_params[1].each do |cost_range,avg_value| %>
              <option class ='f-elem' value=<%= avg_value %>><%= cost_range %></option>
              <% end %>
          </select>
          <span <%= if i%3 == 0 ; "class=indent" ; end %>></span>
          <% i+=1 %>
        <% end %>
        <div class="line-spacer"></div>
        <%= submit_tag("Calculate", :class => "btn blue indent center-block") %>
        
      <% end %>
    </div>
  <h2 class="overlay-box-bottom-strip blue fc-sum">Total Fixed Costs = <span id="fc-sum" class='fixed-cost-sum'><%= @fc_sum if @fc_sum %></span></h2>
  </div>
</div>




<!-- OPERATING COSTS -->
<div class='bg-img bg-img-3 '>
  <div class='overlay-content-box-clear-bg center'>
    
    <%= form_tag("/estimate", method: "patch", :id => 'operating-cost-form',:remote => true ) do %>  
      <h1 class="form-title oc-title">Operating Costs</h1>
      <div class="form-element">
        <%= hidden_field_tag "estimate_id", if @estimate ; @estimate.id ; end %>
        <% i=0 %>
        <% @operating_costs.each do |name,label| %>
          <% if i==0 %>
            <div class='row'>
          <% end %>
          <% if i == 0 %>
            <h3 class="oc-title oc-column-title">Monthly Employee Costs</h3>
          <% elsif i == 6 %>
            <h3 class="oc-title oc-column-title">Monthly Facilities Costs</h3>
          <% end %>
          <%#= label_tag("operating_costs[#{name}]", label) %>
          <% if i%2 == 0 %>
            <div class='oc-form-right'>
          <% end %>
          <% if i%2 == 0 && i <= 5 %>            
              <span class='oc-title oc-category'><%= @oc_categories[i] %></span>
          <% end %>
            <%= text_field_tag("operating_costs[#{name}]",  if @operating_cost ; @operating_cost[name] ; end , :placeholder => label , :class => 'form-text-input oc f-elem' ) %> 
          <% if i%2 ==1 %>
            </div>    
          <% end %>

          <% i+=1 %>
          <span <%= if i%2 == 0 ; "class=indent" ; end %>></span>
          <% if i==10 %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= submit_tag("Calculate", :class => "btn white indent center-block") %>
    <% end %>
    <h2 class="overlay-box-bottom-strip white fc-sum">Total Monthly Operating Costs = <span id='oc-sum' class='operating-cost-sum'><%= if @oc_sum ; @oc_sum ; end %></span></h2>
  </div>
</div>




