
<div class='bg-img bg-img-1 '>
  <div class='overlay-content-box dark-bg center'>
    <h1>Grow With ClassPass</h2>
    <p>At ClassPass we are proud of our mission of encouraging healthier lifestyles through offering our patrons a ever-growing diversity of workout options.</p>
    <p class="content-end">We know we could not do it without you and the rest of our amazing community of studios, so we are very excited to offer a program to help fund your growth with all or some of the upstart capital you need.</p>
    <a href="http://classpass.com">Learn More</a>
  </div>
</div>

<div class='bg-img bg-img-2 '>
  <!-- <div class='overlay-content-box light-bg center-top'>
    <h1 class='no-margin'>calculate your startup costs</h1>
  </div> -->

  <!-- STUDIO & FIXED COST FORM  -->
  <div class='form-wrapper overlay-form-box light-bg-form center'>
    
    <%= form_tag("/estimate", method: "post") do %>
      <h1 class="form-title">Studio Info</h1>
      <div class="form-element">
        <%= text_field_tag("studio[name]", if @studio ; @studio.name ; end , :placeholder => 'Studio Name' , :class => "form-text-input" ) %>
        <%= text_field_tag("employee[name]", if @employee ; @employee.name ; end, :placeholder => 'Your Name' , :class => "form-text-input" ) %>
        <%= text_field_tag("employee[position]", if @employee ; @employee.position ; end , :placeholder => 'Your Position' , :class => "form-text-input" ) %>
      </div>


      <div class='activity-types'>
        <h3>Activity Types</h3>
        <% i = 1 %>
        <% @activities.each do |activity,act_for_db| %>
          <span class="checkbox">
            <input type="checkbox" name="activity_types[<%= act_for_db %>]" id="checkbox<%= i %>Input" value='<%= activity.downcase %>' <%= if @activity_types && @activity_types.include?(activity.downcase) ; 'checked' ; end %>><%= activity %>
            <label for="checkbox<%= i %>Input"></label>
          </span>
          <span <%= if i%3 == 0 ; "class=indent" ; end %>></span>

          <% i+=1 %>
        <% end %>
      </div>
      
      <div>
        <h3>City</h3>
        <select name="studio[hq_city]">>
          <% @cities.each do |city| %>
            <option value="<%= city.downcase %>"><%= city %></option>
            <% end %>
        </select>
      </div>
    
      <div class='fc-form'>
        <h2>Fixed Costs</h2>
        <% i = 1 %>
        <% @fixed_costs.each do |name,data_params| %>
          <%= data_params[0] %>
          <select name="fixed_costs[<%= name %>]">
            <% data_params[1].each do |cost_range,avg_value| %>
              <option value=<%= avg_value %>><%= cost_range %></option>
              <% end %>
          </select>
          <span <%= if i%2 == 0 ; "class=indent" ; end %>></span>
          <% i+=1 %>
        <% end %>
        <div class="line-spacer"></div>
        <%= submit_tag("Calculate", :class => "btn indent center-block") %>
        
      <% end %>
    </div>

    
    

  <h2 class="fc-sum">Total Fixed Costs = <span class='cost-sum'><%= if @fc_sum ; @fc_sum ; end %></span></h2>
  </div>


</div>




  <!-- OPERATING COSTS -->

<% if @estimate %>
  <div class='form-wrapper'>

    <%= form_tag("/estimate", method: "patch") do %>
      <h2>Operating Costs</h2>
        <%= hidden_field_tag "estimate_id", @estimate.id %>
        <% @operating_costs.each do |name,label| %>
          <div class='form-element'>
            <%= label_tag(name,label, :class => "form-text-label") %>
            <%= text_field_tag("operating_costs[#{name}]",  if @operating_cost ; @operating_cost[name] ; end , :class => 'pull-right form-text-input' ) %>
          </div>  
        <% end %>
      <%= submit_tag("Submit") %>
    <% end %>

    <h3>Total Monthly Operating Costs = <span class='cost-sum'><%= if @oc_sum ; @oc_sum ; end %></span></h3>

  <br>

  </div>
<% end %>

<br><br><br>
  <!-- IN DEVELOPMENT -->

<div class='wrapper'>    
    <%#= form_tag do %>
      <%#=text_field_tag 'cost', '', :autocomplete => autocomplete_rent_cost_calculations_path %>
    <%# end %>
    <h3 class='development-notes'>To Do's</h3>
      <ul>
        <li>Change Build Out to Construction</li>
        <li>Create an admin login to view information</li>
        <li>Require all fields to be complete before submitting</li>
        <li>Validate presence of</li>
        <li>Am adding 'other' for drop-downs, remove low/high ranges</li>
        <li>Prevent auto-reload of page</li>
        <li>Should I include security deposit as an option? right now it just submits as 3x rent</li>
        <li>Add other for activity types</li>
        <li>Build an admin dashboard to view and search past estimates</li>
        <li>Prevent forms from resubmitting</li>

      </ul>
    <h3 class='development-notes'>Completed</h3>
      <ul>
        <li>Fixed font issue</li>
        <li>Add Architect's range: 5-10,10-20,20-25</li>
        <li>Save Fixed Costs and Operating Costs independently and tie to employee, not studio</li>
        <li>Add Position Name to Studio Form</li>
        <li>Fix page refresh issue</li>
        <li>Create backend structure to support data presentation in admin dashboard</li>

      </ul>
  <br>
</div>

